.grid
{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    justify-items: space-evenly;
    justify-content: space-evenly;
}

.block
{
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 20px;
}

.player
{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.ball
{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}